<h1><%= body.name %></h1>

<p>
This is a 
<%= @body.body_type.name %>
</p>

<p>It is the <%body.position_from_sun %> rock from the sun.

<p> Diameter: <%= @body.diameter_in_kms_ %></p>
<p><%= link_to 'Home', root_path %></p>